<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Chapeau" connectionString="Data source=2122chapeau.database.windows.net;
             Initial Catalog=db_IT1b5;
             user=group_IT1b5;
             password=d-M6Pb5&amp;DzI@"/>
	</connectionStrings>
</configuration>